/* formatting for ubiquity pop-up */
#panel {
  padding: 0px;
  margin: 0px;
  background: #272727;
}

#cmd-entry-container {
  padding: 10px;
  font-size: 12pt;
}

#cmd-entry {
  border: none;
  font-size: 12pt;
  background: #272727;
  color: #ffffff;
  width: 100%;
}

#cmd-preview {
  border: none;
  padding: 10px;
  overflow: hidden;
}
