body {
  background-color: #ddd;
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}

a:hover,
a:link,
a:active,
a:visited {
  color: #c60;
}

#firefox {
  margin: 0 auto;
  height: 500px;
}

#firefox.mac {
  background-image: url(chrome://ubiquity/skin/icons/screenshot-firefox-mac.png);
  width: 1123px;
  margin-top: -52px;
}

#firefox.vista {
  background-image: url(chrome://ubiquity/skin/icons/screenshot-firefox-vista.png);
  width: 1064px;
  margin-top: -40px;
}

#firefox.linux {
  background-image: url(chrome://ubiquity/skin/icons/screenshot-firefox-linux.png);
  width: 1054px;
  margin-top: -35px;
}

#input {
  background-color: transparent;
  font-size: 10pt;
}

#firefox.mac #inputwrapper.awesomebar {
  padding-left: 300px;
  padding-top: 57px;
  width: 400px;
}

#firefox.vista #inputwrapper.awesomebar {
  padding-left: 250px;
  padding-top: 69px;
  width: 400px;
}

#firefox.linux #inputwrapper.awesomebar {
  padding-left: 250px;
  padding-top: 64px;
  width: 400px;
}

#firefox.mac #inputwrapper.searchbar {
  padding-left: 786px;
  padding-top: 57px;
  width: 250px;
}

#firefox.vista #inputwrapper.searchbar {
  padding-left: 760px;
  padding-top: 69px;
  width: 250px;
}

#firefox.linux #inputwrapper.searchbar {
  padding-left: 753px;
  padding-top: 64px;
  width: 250px;
}

h1, h2, h3, .large {
  color: #333;
}

h2 {
  font-variant: small-caps;
}

#main {
  margin: 0 auto;
  width: 800px;
  background-color: #fff;
  padding: 30px 30px 60px 30px;
}

input.input {
  border: none;
  width: auto;
  font-size: 0.9em;
  width: 100%;
}

#parseinfo, #envinfo {
  max-height: 400px;
  overflow:auto;
}

.warning {
  border: 1px red solid;
  background-color: #ddd;
  padding: 10px;
}

.light {
  color: #ddd;
}

#linkblock {
  padding: 12px;
  background-color: #fbfbfb;
}