body {
    margin: 0;
    padding: 0;
}

#preview {
    width: 500px;
}

/* formatting for data inside preview */

.gresult {
  margin-bottom: 10px;
}
.gresult a {
  color: #0066cc;
  text-decoration: underline;
  font-size: small;
  cursor: pointer;
}
.gresult-url {
  font-size: x-small;
  /*color: #00aa00;*/
}
.gresult-content {
  margin-right: 10px;
  font-size: x-small;  
}

#preview-pane {
  margin-left: 15px;
  padding: 7px;
  background: #272727;
  border-style: solid;
  border-width: 1px;
  border-color: #00aa00;
}

#map {
  width: 225px;
  height: 130px;
  float: left;
}

.gaddress {
  font-size: x-small;
  margin-bottom: 10px;
}
#address-list {
  float: left;
  margin: 10px;
  width: 200px;
  height: 120px;
}
#map-actions {
  padding-left: 10px;
  width: 100px;
  float: left;
  margin: 3px;
}
#map-accept-button {
  position: relative;
  bottom: -10px;
  right: -25px;
  font-size: small;
  margin-top: 100px;
}
#gmaps-url {
  float: right;
  margin-top: 20px;
  font-size: x-small;
  color: #00aa00;
}

/* formatting for suggestion list */

.hilited {
    background: #00aa00;
}

.needarg {
    font-style: italic;
    color: #999999;
}
