body {
    margin: 0;
    padding: 0;
}

#preview {
    width: 500px;
}

/* formatting for data inside preview */

.gresult {
  margin-bottom: 10px;
}
.gresult a {
  color: #0066cc;
  text-decoration: underline;
  font-size: small;
  cursor: pointer;
}
.gresult-url {
  font-size: x-small;
  /*color: #00aa00;*/
}
.gresult-content {
  margin-right: 10px;
  font-size: x-small;  
}



#map {
  width: 225px;
  height: 130px;
  float: left;
}

.gaddress {
  font-size: x-small;
  margin-bottom: 10px;
}
#address-list {
  float: left;
  margin: 10px;
  width: 200px;
  height: 120px;
}
#map-actions {
  padding-left: 5px;
  width: 100px;
  float: left;
  margin: 3px;
}
#map-accept-button {
  position: relative;
  bottom: -10px;
  right: -25px;
  font-size: small;
  margin-top: 100px;
}
#gmaps-url {
  float: right;
  margin-top: 20px;
  font-size: x-small;
  color: #00aa00;
}

/* formatting for suggestion list */

#preview-pane {
  min-height: 50px;
  padding-left: 15px;
  padding: 7px;
  background: #272750;
  border-left: solid 1px #0066cc;
  color: #ffffff;
}

.hilited-text {
    /*border-left: solid 5px #0066cc;*/
    padding: 5px;
}
.hilited {
    background: #272750;
    border-left: solid 1px #0066cc;
    color: #ffffff;
}
.suggested {
    padding: 5px;
    border-left: solid 1px #272750;
}

.needarg {
    font-style: oblique;
    color: #999999;
}
