body {
    margin: 0;
    padding: 0;
}

#preview {
    width: 500px;
}

/* formatting for data inside preview */

.gresult {
  margin-bottom: 10px;
}
.gresult a {
  color: #0066cc;
  text-decoration: underline;
  font-size: small;
  cursor: pointer;
}
.gresult-url {
  font-size: x-small;
  /*color: #00aa00;*/
}
.gresult-content {
  margin-right: 10px;
  font-size: x-small;  
}


/* formatting for suggestion list */

#preview-pane {
    color: #ffffff;
    background: #272750;
    padding-left: 15px;
    padding: 7px;
    border-left: solid 1px #0066cc;
}

.hilited-text {
    /*border-left: solid 5px #0066cc;*/
    padding: 5px;
}
.hilited {
    background: #272750;
    border-left: solid 1px #0066cc;
    color: #ffffff;
}
.suggested {
    padding: 5px;
    border-left: solid 1px #272750;
}

.needarg {
    font-style: oblique;
    color: #999999;
}
