body {
    font-family: helvetica;
    font-size: 8pt;
    text-align: center;
}

#content {
    text-align: left;
    width: 800px;
    margin: 0 auto;
}

#left {
    float: left;
    width: 400px;
}

#right {
    float: left;
    width: 400px;
}

.data {
    border-collapse: collapse; 
}

.item {
    vertical-align: top;
}

.item td {
    white-space: pre-wrap;
    font-family: monaco;
    font-size: 6pt;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    border-top: 1px solid #f0f0f0;
}

.name {

}

.value {

}

#description {
    font-family: helvetica;
    font-size: 8pt;
    padding: 5px;
    width: 350px;
    height: 20em;
}

#submit {
    border: none;
    padding: 10px;
}

.unbusy {
    background-color: #f0f0f0;
}

.unbusy:hover {
    background-color: #e0e0e0;
}

.busy {
    color: #d0d0d0;
}
