/*
 * CSS inspired by Hemingway: http://warpspire.com/hemingway
 */

body{
	background: #FFF;
	color:#111;
	font-size:13px;
	font-family: "Helvetica", Verdana, Arial, sans-serif;
	max-width: 900px;
	border-top: 5px solid #333;
	margin-left: auto;
	margin-right: auto;	
	margin-top: 0px;
}

#nav-container{
  margin-left: -40px;
  float: left;  
}

li {
    padding: 3px;
}

#nav ul{}

#nav li{
  background-color:#aaa;
  border-left:1px solid #CCCCCC;

  margin:0px;
  padding:0pt;
    
  float:left;
  height:45px;
  text-align:left;  
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  width: 165px;
}

#nav a{
  margin: 5px;
  color: white;
  display: block;
  width: auto;
  height: 100%;
  text-decoration: none;  
}

#nav li:hover{
  background-color: #66bb00;
}

.col-two{
  width: 225px;
  float: left;
}

.col-three{
  width: 315px;
  margin-right: 20px;
  float: left;
}

.col-five{
  width: 480px;
  margin-right: 20px;
  float: left;
}

.col-four{
  width: 395px;
  float: left;
}

.light{
  color: #ccc;
  font-style: italic;
}

.head{
  font-variant: small-caps;
  font-weight: bold;
  font-size: 20pt;
  background-color: #111;
  color: white;
  text-align: center;
}

.left{
  text-align: left;
  padding-left: 10px;
}

.head red{
  color: #E21E26;
  font-size: 36pt;
}

h1{
  color: #E21E26;
  font-variant: small-caps;
}

h4{
  font-variant: small-caps;
}

h2{
  border-top: 1px solid black;
  font-variant: small-caps;
  color: black;
  margin-top: 100px;
  padding-top: 10px;
  padding-bottom: 20px;
}

h2.top{
  margin: 0px;
}

em{
  color: #66bb00;
  font-style: normal;
}

div.command{
  margin: 15px;
  margin-bottom: 20px;
}

div.command span.name{
  font-size: 15pt;
  margin-left: 10px;
}

div.command .icon{
  display: inline-block;
  width: 16px;
}

div.command .icon img{
  vertical-align: text-top;
  width: 16px;
  height: 16px;
}

div.command .documentation{
  margin-top: 5px;
  margin-left: 30px;
  display: block;
  color: #777;
}

div.command .description{
  display: inline;
  color: white;
  font-size: 12pt;
  margin-left: 10px;
  color:#BFBFBF;
}

a, a:visited {
    color: #CC6600;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.error {
    color:#FF0000;
}