body {
    font-family: palatino, georgia, verdana, arial, sans-serif;
    font-size: 10pt;
    text-align: center;
}

.popup-enabled {
    cursor: pointer;
    border-bottom: dotted 1px black;
}

.popup {
    position: absolute;
    z-index: 100;
}

.popup .item {
    cursor: pointer;
    font-family: helvetica neue, arial, sans-serif;
    background-color: #eeeeee;
    color: black;
    padding: 3px;
    border-top: 1px dotted;
    border-left: 1px dotted;
    border-right: 1px dotted;
}

.popup .selected {
    background-color: black;
    color: white;
}

.popup .bottom {
    border-bottom: 1px dotted;
}

#content {
    width: 800px;
    text-align: left;
    margin: 0 auto;
}

.documentation {
    width: 380px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.4em;
}

.documentation h1 {
    font-weight: normal;
    line-height: 1.4em;
}

.documentation h2 {
    font-weight: normal;
    line-height: 1.4em;
}

.code {
    font-family: monaco, andale mono, lucidatypewriter, courier,
                 courier new, monospace;
    float: left;
    white-space: pre;
    font-size: 6pt;
    background-color: #f0f0f0;
    padding-left: 10px;
    padding-right: 10px;
    width: 380px;
}

.divider {
    clear: both;
}
