
body {
    margin: 0;
    padding: 0;
    color: #BBB;
}

#preview {
    width: 500px;
}

/* Formatting for the Preview box */
/* help class is for the text " */

.help {
  font-family: Calibri, Helvetica, Verdana, Arial;
  font-size: 11pt;
  color: #FFF;
}

.gresult {
  margin-bottom: 10px;
}

.gresult a {
  color: #FFFFFF;
  text-decoration: underline;
  font-size: 14pt;
  font-family: Calibri, Helvetica, Verdana, Arial;
  cursor: pointer;
}
.gresult-url {
  font-size: x-small;
  font-family: Calibri, Helvetica, Verdana, Arial;
  color: #777;
}
.gresult-content {
  margin-right: 10px;
  font-family: Calibri, Helvetica, Verdana, Arial;
  font-size: small;  
}

preview.img {
    padding: 5px;
}

/* Formatting for the Preview Pane and Verb/Command suggestion list */

#preview-pane {
    color: #ffffff;
    background: transparent;
    padding-left: 15px;
    padding: 7px;
    border-top: 1px solid #333;
    margin-top: 5px;
    font-family: Calibri, Helvetica, Verdana, Arial;
    font-size: 11pt;
} 


.hilited-text {
    font-color: #FFF;
    font-family: Calibri, Helvetica, Verdana, Arial;
}

.hilited {
    padding: 5px;
    margin: 2px;
    background: rgba(100%, 100%, 100%, 0.3);
    -moz-border-radius: 5px;
    color: #FFF;
}


.suggested {
    margin: 2px;
    padding: 5px;
    border-left: solid 10px transparent;
    font-family: Calibri, Helvetica, Verdana, Arial;
    color: #FFF;
}

.needarg {
    font-style: oblique;
    color: #999999;
}
.cmdicon {
    display: inline-block;
    width: 16px;
}
.cmdicon img {
    vertical-align: middle;
    width: 16px;
    height: 16px;
}



