<style>
.biz {
  margin-bottom: 10px;
}

.name{ font-size: 120%;}

.biz a {
  color: #0066cc;
  text-decoration: underline;
  font-size: small;
}

.biz img{ position: relative; top: 15px;}

.content {
  margin-right: 10px;
  font-size: x-small;  
}

</style>

{for biz in businesses}
<div class="biz">
  <img src="${biz.photo_url_small}"/>
  {var phone = biz.phone.replace(/(\d\d\d)(\d\d\d)(\d\d\d\d)/, "$1.$2.$3")}
  <span class="name"><a href="${biz.url}">${biz.name}</a></span> in ${biz.city} (${phone}) &mdash;
  ${biz.avg_rating} stars.
</div>
{/for}