body {
    font-family: helvetica, arial, sans-serif;
    font-size: 9pt;
}

.jetpack {
    padding-left: 1em;
}

.buttony {
    cursor: pointer;
    background-color: #eeeeee;
}

span.buttony:hover {
    background-color: #aaaaaa;
}

span.buttony:active {
    background-color: #666666;
}

a {
    color: black;
}

.warning {
    display: none;
    background-color: orange;
    padding: 0.5em;
}

.warning .buttony {
    opacity: 0.6;
}

#extension-weakrefs .row {
    clear: left;
}

#extension-weakrefs .code {
    display: block;
    float: left;
    padding-left: 1em;
    min-width: 20em;
}

#extension-weakrefs .count {
    display: block;
    float: left;
    min-width: 5em;
}

.code {
    font-family: monaco, sans-serif;
    white-space: pre-wrap;
}

.sample {
    padding-left: 1em;
}

.sidebar {
    float: right;
    background-color: #eeeeee;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    width: 20em;
}
