body {
    font-family: helvetica, arial, sans-serif;
    font-size: 9pt;
}

.jetpack {
    padding-left: 1em;
}

.buttony {
    cursor: pointer;
    background-color: #eeeeee;
}

span.buttony:hover {
    background-color: #aaaaaa;
}

span.buttony:active {
    background-color: #666666;
}

a {
    color: black;
}

.warning {
    display: none;
    background-color: orange;
    padding: 0.5em;
}

.warning .buttony {
    opacity: 0.6;
}

#extension-weakrefs .row {
    clear: left;
}

#extension-weakrefs .code {
    display: block;
    float: left;
    padding-left: 1em;
    min-width: 20em;
}

#extension-weakrefs .count {
    display: block;
    float: left;
    min-width: 5em;
}

#memory-usage-actions {
    padding-top: 1em;
    clear: left;
}

.code {
    font-family: monaco, sans-serif;
    white-space: pre-wrap;
}

.sample {
    padding-left: 1em;
}

.sidebar {
    float: right;
    background-color: #eeeeee;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    width: 20em;
}

#content{
  max-width: 800px;
  margin: auto;
}



/* Tabs */
.tabs-hide{ display: none;}

.tabs-nav {
    list-style: none;
    margin: 0;
    padding: 0 0 0 4px;
}
.tabs-nav:after { /* clearing without presentational markup, IE gets extra treatment */
    display: block;
    clear: both;
    content: " ";
}
.tabs-nav li {
    float: left;
    margin: 0 0 0 1px;
    min-width: 84px; /* be nice to Opera */
}
.tabs-nav a, .tabs-nav a span {
    display: block;
    padding: 0 10px;
    background: url(tab.png) no-repeat;
}
.tabs-nav a {
    position: relative;
    top: 1px;
    z-index: 2;
    padding-left: 0;
    color: #27537a;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    white-space: nowrap; /* required in IE 6 */    
}
.tabs-nav .tabs-selected a {
    color: #000;
}
.tabs-nav .tabs-selected a, .tabs-nav a:hover, .tabs-nav a:focus, .tabs-nav a:active {
    background-position: 100% -150px;
    outline: 0; /* prevent dotted border in Firefox */
}
.tabs-nav a, .tabs-nav .tabs-disabled a:hover, .tabs-nav .tabs-disabled a:focus, .tabs-nav .tabs-disabled a:active {
    background-position: 100% -100px;
}
.tabs-nav a span {
    width: 64px; /* IE 6 treats width as min-width */
    min-width: 64px;
    height: 18px; /* IE 6 treats height as min-height */
    min-height: 18px;
    padding-top: 6px;
    padding-right: 0;
}
*>.tabs-nav a span { /* hide from IE 6 */
    width: auto;
    height: auto;
}
.tabs-nav .tabs-selected a span {
    padding-top: 7px;
}
.tabs-nav .tabs-selected a span, .tabs-nav a:hover span, .tabs-nav a:focus span, .tabs-nav a:active span {
    background-position: 0 -50px;
}
.tabs-nav a span, .tabs-nav .tabs-disabled a:hover span, .tabs-nav .tabs-disabled a:focus span, .tabs-nav .tabs-disabled a:active span {
    background-position: 0 0;
}
.tabs-nav .tabs-selected a:link, .tabs-nav .tabs-selected a:visited, .tabs-nav .tabs-disabled a:link, .tabs-nav .tabs-disabled a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
    cursor: text;
}
.tabs-nav a:hover, .tabs-nav a:focus, .tabs-nav a:active { /* @ Opera, we need to be explicit again here now... */
    cursor: pointer;
}
.tabs-nav .tabs-disabled {
    opacity: .4;
}
.tabs-container {
    border-top: 1px solid #97a5b0;
    padding: 1em 8px;
    background: #fff; /* declare background color for container to avoid distorted fonts in IE while fading */
}
.tabs-loading em {
    padding: 0 0 0 20px;
    background: url(loading.gif) no-repeat 0 50%;
}

